<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

function onClick(Product: y) {
  x.value.push(Product);
  Sum.value += Product.price;
}

const x = ref<y[]>([]);
interface y {
  id: number;
  name: string;
  price: number;
}

const Sum = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-col col="6">
        <v-col class="d-flex flex-wrap h-screen overflow-y-auto">
          <v-card
            class="mx-auto v-col-4"
            max-width="344"
            variant="outlined"
            v-for="i in products"
            :key="i.id"
            ><v-card-item class="">
              <div>
                <div class="text-h6 mb-1 text-center">
                  Product {{ i.id + 1 }}
                </div>
                <div class="text-caption mb-1 text-center">{{ i.price }}</div>
                <div class="text-center">
                  <v-btn @click="onClick(i)">ADD</v-btn>
                </div>
              </div>
            </v-card-item>
          </v-card>
        </v-col>
      </v-col>
      <v-col>
        <v-table height="300px">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="x.length === 0">
              <td colspan="3"><p class="text-center">No Data</p></td>
            </tr>
            <tr v-for="item in x" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <h1 class="pa-10 ma-1">Sum: {{ Sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
