<script setup lang="ts">
import First from "@/components/FirstComponent.vue";
import Second from "@/components/SecondComponent.vue";
</script>

<template>
  <v-container>
    <v-row>
      <v-col><First></First></v-col>
      <v-col><Second></Second></v-col>
    </v-row>
  </v-container>
</template>
