<script setup lang="ts">
import { ref } from "vue";
const Feeling = ref("Smile");
const feelingClick = (name: string) => {
  Feeling.value = name;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img src="feeling_imgs/angry.png" v-if="Feeling === 'Angry'"></v-img>
        <v-img src="feeling_imgs/cute.png" v-if="Feeling === 'Cute'"></v-img>
        <v-img
          src="feeling_imgs/excited.png"
          v-if="Feeling === 'Excited'"
        ></v-img>
        <v-img src="feeling_imgs/pain.png" v-if="Feeling === 'Pain'"></v-img>
        <v-img
          src="feeling_imgs/shocked.png"
          v-if="Feeling === 'Shocked'"
        ></v-img>
        <v-img src="feeling_imgs/smile.png" v-if="Feeling === 'Smile'"></v-img>
      </v-col>
      <v-col>
        <h1 class="text-center">{{ Feeling }}</h1>
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Angry')"
          :color="Feeling == 'Angry' ? 'yellow' : ''"
          >angry</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Cute')"
          :color="Feeling == 'Cute' ? 'yellow' : ''"
          >cute</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Excited')"
          :color="Feeling == 'Excited' ? 'yellow' : ''"
          >excited</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Pain')"
          :color="Feeling == 'Pain' ? 'yellow' : ''"
          >pain</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Shocked')"
          :color="Feeling == 'Shocked' ? 'yellow' : ''"
          >shocked</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="feelingClick('Smile')"
          :color="Feeling == 'Smile' ? 'yellow' : ''"
          >smile</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
