<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
</script>

<template>
  <v-container>
    <v-text-field
      clearable
      hide-details="auto"
      label="Please Input Number"
      placeholder="0"
      type="input"
      v-model.number="input"
      :rules="[(v) => !!v || 'Number is not empty']"
      required
    ></v-text-field>
    <v-container>
      <v-row>
        <v-col v-for="i in input" :key="i" col="1">{{ i }} </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
