<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const x = useCounterStore();
</script>
<template>
  <v-card>
    <v-card-item>
      <div class="text-center">
        <div class="text-caption">First Component</div>
        <div class="text-caption">{{ x.count }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn @click="x.increment"> INCREMENT </v-btn>
    </v-card-actions>
  </v-card>
</template>
