<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const x = useCounterStore();
</script>
<template>
  <v-card>
    <v-card-item>
      <div class="text-center">
        <div class="text-caption">Second Component</div>
        <div class="text-caption">{{ x.doubleCount }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn variant="flat" @click="x.decrease"> DECREASE </v-btn>
    </v-card-actions>
  </v-card>
</template>
